
[submodule "modules/ByteBreacherDecoder"]
	path = modules/ByteBreacherDecoder
	url = https://github.com/Unam3dd/ByteBreacherDecoder
[submodule "modules/ByteBreacherDSA"]
	path = modules/ByteBreacherDSA
	url = git@github.com:Unam3dd/ByteBreacherDSA.git
[submodule "modules/ByteBreacherJSON"]
	path = modules/ByteBreacherJSON
	url = git@github.com:Unam3dd/ByteBreacherJSON.git
[submodule "modules/ByteBreacherHTTP"]
	path = modules/ByteBreacherHTTP
	url = git@github.com:Unam3dd/ByteBreacherHTTP.git
